<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pose Detection App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #video-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
        #video {
            width: 640px;
            height: 480px;
        }
        .fa-helmet-safety {
          color: black;
        }
    </style>
</head>
<body class="bg-gray-100">

  
    
      <header class="py-4 bg-gray-800">
        <div class="max-w-4xl mx-auto px-8 flex justify-between items-center">

          <img src="/static/robo.svg" width="40" height="40"alt="robodog">
         
          <h1 class="text-2xl text-white font-bold">
            RoboDog
           
          </h1>
          
          <div class="flex items-center">
            <div class="mr-4">
             
              <button class="bg-gray-700 hover:bg-gray-600 text-white rounded-lg px-4 py-2">
                FAQ 
              </button>
            </div>
            <div>
              <button class="bg-gray-700 hover:bg-gray-600 text-white rounded-lg px-4 py-2">
                Contacts
              </button>
            </div>
          </div>
        </div>
      </header>


  
      <div class="flex  items-center justify-center  bg-gray-100 pt-6 mt-3 ">
        <div class="flex flex-col items-center justify-center   ">
          
            <h1 class="text-4xl font-bold m-6">
               Control Panel
               <i class="fa-sharp fa-solid fa-sliders"></i>
            </h1>

            <div class="grid grid-cols-4 gap-4 m-3">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-3">
                <img class="w-full" src="/static/object.jpg" alt="object detection">

                <button id="activate-camera" class="mb-4 bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 m-3  rounded">
                  <a href="{{ url_for('index') }}">activate
                    <i class="fa-regular fa-circle-play"></i>
                  </a>
              </button>
        
                <div class="px-6 py-4">
                  
                  <div class="  font-bold text-xl mb-2">Object Detection</div>
                </div>
                
              </div>
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-3">
                <img class="w-full" src="/static/media.jpg" alt="pose estimation">
                <button id="activate-camera" class="mb-4 bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 m-3  rounded">
                  <a href="{{ url_for('video_feed') }}">activate
                    <i class="fa-regular fa-circle-play"></i>
                  </a>
              </button>
                <div class="px-6 py-4">
                  <div class=" bottom  font-bold text-xl mb-2">Human Pose estimation</div>
                </div>
              </div>
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-3">
                <img class="w-full" src="/static/navigation.png" alt="Environment navigation">
                <button id="activate-camera" class="mb-4 bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 m-3 rounded">
                  <a href="{{ url_for('video_feed') }}">activate
                    <i class="fa-regular fa-circle-play"></i>
                  </a>
              </button>
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Environment Navigation</div>
                </div>
              </div>
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-3">
                <img class="w-full" src="/static/voice_assistant.jpg" alt="voice assistant">
                <button id="activate-camera" class="mb-4 bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 m-3 rounded">
                  <a href="{{ url_for('index') }}">activate
                    <i class="fa-regular fa-circle-play"></i>
                  </a>
              </button>
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Voice Assistance</div>
                </div>
              </div>
             
              <button class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4">
                <a href="{{ url_for('addmodule') }}">Add Module
                  
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
              </button>
            </div>     
          </div>
        </div> 

   
    
    


      
      <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-8">Connect to Bluetooth</h1>
        <form>
          <div class="mb-4">
            <label class="block text-black-300 font-bold mb-2" for="device-name">Device name</label>
            <input class="w-full p-2 border border-gray-800 rounded" type="text" name="device-name" id="device-name">
          </div>
          <div class="mb-4">
            <label class="block text-black-300 font-bold mb-2" for="device-address">Device address</label>
            <input class="w-full p-2 border border-gray-800 rounded" type="text" name="device-address" id="device-address">
          </div>
          <div class="flex justify-end">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Connect</button>
          </div>
        </form>
      </div>
      

      
    <footer class="bg-gray-800 text-gray-300 py-4 px-4 sm:px-6 lg:px-8 py-12  w-full">
      <div class="flex justify-center items-center">
        <p class="text-sm">&copy; RoboDog Project </p>
      </div>
    </footer>
</body>